.container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 460px) {
  .logo {
    justify-self: flex-start;
  }
  .header-title {
    justify-self: flex-end;
  }
  #title, #subtitle {
    font-family: 'Raleway', sans-serif;
  }
  #title {
    font-size: 2.5em;
  }
  #subtitle {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 500px) and (max-width:799px) {
  p {
    font-size: 1.1em;
  }
  .article {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
  }
}

@media screen and (min-width: 800px) {
  p {
    font-size: 1.1em;
  }
  .article {
    width: 32%;
  }
  .content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}